/* Reset Styles */
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900');

html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Gugi', cursive;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

.lds-heart {
  background-color: #f06060;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
}


.fade {
  opacity: 0;
  visibility: hidden;
}

.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #fff;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #fff;
}

.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}

.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}

.progress-wrap {
  position: fixed;
  right: 50px;
  bottom: 50px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition: all 200ms linear;
}


.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.progress-wrap::after {
  position: absolute;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f062';
  text-align: center;
  line-height: 46px;
  font-size: 18px;
  color: #1f2029;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 1;
  transition: all 200ms linear;
}


.lightScrollIcon::after {
  color: #ecedf3 !important;
}

.progress-wrap:hover::after {
  opacity: 0;
}

.progress-wrap::before {
  position: absolute;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f062';
  text-align: center;
  line-height: 46px;
  font-size: 18px;
  opacity: 0;
  background-image: linear-gradient(298deg, #da2c4d, #f8ab37);
  background-clip: text;
  color: transparent;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 2;
  transition: all 200ms linear;
}

.progress-wrap:hover::before {
  opacity: 1;
}

.progress-wrap svg path {
  fill: none;
}

.progress-wrap svg.progress-circle path {
  stroke: #1f2029;
  stroke-width: 4;
  box-sizing: border-box;
  transition: all 200ms linear;
}


@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }

  5% {
    transform: scale(1.1);
  }

  39% {
    transform: scale(0.85);
  }

  45% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(0.9);
  }
}

/* General Styles */

.covermid {
  position: absolute;
  right: 40%;
  bottom: 40px;
  width: 200px;
  height: 100px;
  padding: 5px;
}

.covermid>p {
  font-family: 'Silkscreen', cursive;
  font-weight: 300px;
  position: absolute;
  right: 40%;
  bottom: 40px;
  width: 200px;
  height: 100px;
  padding: 5px;
  animation: movedown 0.5s linear forwards;
}

.scrolldown {
  --color: white;
  --sizeX: 30px;
  --sizeY: 50px;
  position: relative;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX / 2);
  border: calc(var(--sizeX) / 10) solid var(--color);
  border-radius: 50px;
  margin-bottom: 20px;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #ffffff66;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }

  40% {
    opacity: 1;
    height: 10px;
  }

  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }

  100% {
    height: 3px;
    opacity: 0;
  }
}

.chevrons {
  padding: 0px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
  animation: pulse 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
  animation: pulse 500ms ease infinite alternate 250ms;
}

@keyframes pulse {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

/*copy until here */


@keyframes bg-color {
  0% {
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
  }

  20% {
    background: #d9a7c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fffcdc, #d9a7c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  40% {
    background: #A1FFCE;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FAFFD1, #A1FFCE);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  60% {
    background-image: linear-gradient(135deg, #FFD3A5 10%, #FD6585 100%);
  }

  80% {
    background-image: linear-gradient(135deg, #2AFADF 10%, #4C83FF 100%);
  }

  100% {
    background-image: linear-gradient(135deg, #90F7EC 10%, #32CCBC 100%);
  }
}

/*.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}*/

/* Header */

.header {
  font-family: 'Gugi', cursive;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  color: #fff;
  overflow: hidden;

}

.scrollToTopBtn {
  background-color: rgb(0, 0, 0);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  line-height: 48px;
  width: 48px;

  /* place it at the bottom right corner */
  position: fixed;
  bottom: 20px;
  right: 20px;
  /* keep it at the top of everything else */
  z-index: 100;
  /* hide with opacity */
  opacity: 0;
  /* also add a translate effect */
  transform: translateY(100px);
  /* and a transition */
  transition: all 0.5s ease;
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}


.logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  font-family: 'Rubik Iso', cursive;
}

.navbar {
  display: flex;
}

.navbar a {
  margin-left: 15px;
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;

}

.navbar a:hover {
  color: #4300fa;
}

.active {
  color: #f14c10;
}

/* Home */

.home {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  color: #000;
}

.home-content {
  text-align: center;
}

.home h3 {
  font-family: 'Silkscreen', cursive;
  font-size: 20px;
  font-weight: 400;
}

.home h1 {
  font-family: 'Bungee Shade', cursive;
  font-size: 60px;
  font-weight: 700;
  margin: 20px 0;
}

.home h3 .text {
  font-weight: 700;
  color: #ff0090;
}

.home p {
  font-size: 18px;
  margin-bottom: 20px;
}

.home-sci {
  display: inline-block;
  padding: 20px;
  padding-bottom: 5px;
  text-align: center;

}

.social-margin {
  margin-right: 15px;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.social-icon {
  margin-bottom: 15px;
  box-sizing: border-box;
  -moz-border-radius: 138px;
  -webkit-border-radius: 138px;
  border-radius: 138px;
  border: 5px solid;
  text-align: center;
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 1px;
  padding-top: 11px;
  transition: all 0.5s;
}

.social-icon:hover {
  transform: rotate(360deg)scale(1.3);
}

/* Facebook Button Styling */
.facebook {
  font-size: 22px;
  padding-top: 9px;
  border-color: #000000;
  background-color: #000000;
  color: #ffffff;

}

.facebook:hover {
  background-color: #ffffff;
  color: #000000;
}

/* Twitter Button Styling */
.twitter {
  font-size: 22px;
  padding-top: 10px;
  padding-left: 2px;
  border-color: #000000;
  background-color: #000000;
  color: #ffffff;

}

.twitter:hover {
  background-color: #000000;
  color: #000000;
}

/* Google+ Button Styling */
.google-plus {
  font-size: 22px;
  padding-top: 9px;
  padding-left: 2px;
  background-color: #dd4b39;
  color: #ffffff;
  border-color: #dd4b39;

}

.google-plus :hover {
  background-color: #ffffff;
  color: #dd4b39;
}

/* Linkedin Button Styling */
.linkedin {
  font-size: 24px;
  padding-top: 8px;
  padding-left: 1px;
  background-color: #0976b4;
  color: #ffffff;
  border-color: #0976b4;

}

.linkedin :hover {
  background-color: #0976b4;
  color: #ffffff;
}

/* Pinterest Button Styling */
.pinterest {
  font-size: 22px;
  padding-top: 9px;
  background-color: rgb(39, 239, 153);
  color: #ffffff;
  border-color: rgb(39, 239, 153);

}

.pinterest:hover {
  background-color: #ffffff;
  color: rgb(39, 239, 153);
}

/* Behance Button Styling */
.behance {
  font-size: 22px;
  padding-top: 9px;
  background-color: #e94efe;
  color: #ffffff;
  border-color: #e94efe;
}

.behance :hover {
  background-color: #e94efe;
  color: #ffffff;
}

/* Github Button Styling */
.github {
  font-size: 22px;
  padding-top: 9px;
  background-color: #000000;
  color: #ffffff;
  border-color: #000000;

}

.github:hover {
  background-color: #ffffff;
  color: #000000;
}

/* Youtube Button Styling */
.youtube {
  font-size: 22px;
  padding-top: 9px;
  padding-left: 0px;
  background-color: #2519ff;
  color: #ffffff;
  border-color: #2519ff;

}

.youtube :hover {
  background-color: #2519ff;
  color: #ffffff;
}

/* Soundcloud Button Styling */
.soundcloud {
  font-size: 22px;
  padding-top: 9px;
  padding-left: 0px;
  background-color: #000000;
  color: #ffffff;
  border-color: #000000;

}

.soundcloud :hover {
  /* background-color: #ffffff; */
  color: #ffffff;
}


/*
.btn-box a {
  color: #fff;
  font-size: 8px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.btn-box a:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

.btn-box a:nth-child(2) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {

  0%,
  100% {
    clip-path: polygon(0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%);
  }
}

.btn-box:hover {
  background-color: #00b8e6;
}

.home-imgHover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
}*/

.home:hover .home-imgHover {
  opacity: 1;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-super-cool-btn {
  position: relative;
  font-family: 'Silkscreen', cursive;
  font-size: 10px;
  text-decoration: none;
  color: #000;
  letter-spacing: 1px;
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  padding: 12px 30px;
  fill: black;
  transition: background-color 0.3s ease;
}

.my-super-cool-btn span {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
}

.my-super-cool-btn span:before {
  content: '';
  width: 150px;
  height: 75px;
  display: block;
  position: absolute;
  border-radius: 10%;
  border: 7px solid #F3CF14;
  box-sizing: border-box;
  transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
  box-shadow: 0 30px 85px rgba(0, 0, 0, 0.14), 0 15px 35px rgba(0, 0, 0, 0.14);
}

.my-super-cool-btn:hover span:before {
  transform: scale(0.8);
  box-shadow: 0 20px 55px rgba(0, 0, 0, 0.14), 0 15px 35px rgba(0, 0, 0, 0.14);
}

.my-super-cool-btn .dots-container {
  opacity: 0;
  animation: intro 1.6s;
  animation-fill-mode: forwards;
}

.my-super-cool-btn .dot {
  width: 8px;
  height: 8px;
  display: block;
  background-color: #F3CF14;
  border-radius: 100%;
  position: absolute;
  transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
}

.my-super-cool-btn .dot:nth-child(1) {
  top: 50px;
  left: 50px;
  transform: rotate(-140deg);
  animation: swag1-out 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.my-super-cool-btn .dot:nth-child(2) {
  top: 50px;
  right: 50px;
  transform: rotate(140deg);
  animation: swag2-out 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.my-super-cool-btn .dot:nth-child(3) {
  bottom: 50px;
  left: 50px;
  transform: rotate(140deg);
  animation: swag3-out 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.my-super-cool-btn .dot:nth-child(4) {
  bottom: 50px;
  right: 50px;
  transform: rotate(-140deg);
  animation: swag4-out 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.my-super-cool-btn:hover .dot:nth-child(1) {
  animation: swag1 0.3s;
  animation-fill-mode: forwards;
}

.my-super-cool-btn:hover .dot:nth-child(2) {
  animation: swag2 0.3s;
  animation-fill-mode: forwards;
}

.my-super-cool-btn:hover .dot:nth-child(3) {
  animation: swag3 0.3s;
  animation-fill-mode: forwards;
}

.my-super-cool-btn:hover .dot:nth-child(4) {
  animation: swag4 0.3s;
  animation-fill-mode: forwards;
}

@keyframes intro {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes swag1 {
  0% {
    top: 50px;
    left: 50px;
    width: 8px;
  }

  50% {
    width: 30px;
    opacity: 1;
  }

  100% {
    top: 20px;
    left: 20px;
    width: 8px;
    opacity: 1;
  }
}

@keyframes swag1-out {
  0% {
    top: 20px;
    left: 20px;
    width: 8px;
  }

  50% {
    width: 30px;
    opacity: 1;
  }

  100% {
    top: 50px;
    left: 50px;
    width: 8px;
    opacity: 0;
  }
}

@keyframes swag2 {
  0% {
    top: 50px;
    right: 50px;
    width: 8px;
  }

  50% {
    width: 30px;
    opacity: 1;
  }

  100% {
    top: 20px;
    right: 20px;
    width: 8px;
    opacity: 1;
  }
}

@keyframes swag2-out {
  0% {
    top: 20px;
    right: 20px;
    width: 8px;
  }

  50% {
    width: 30px;
    opacity: 1;
  }

  100% {
    top: 50px;
    right: 50px;
    width: 8px;
    opacity: 0;
  }
}

@keyframes swag3 {
  0% {
    bottom: 50px;
    left: 50px;
    width: 8px;
  }

  50% {
    width: 30px;
    opacity: 1;
  }

  100% {
    bottom: 20px;
    left: 20px;
    width: 8px;
    opacity: 1;
  }
}

@keyframes swag3-out {
  0% {
    bottom: 20px;
    left: 20px;
    width: 8px;
  }

  50% {
    width: 30px;
    opacity: 1;
  }

  100% {
    bottom: 50px;
    left: 50px;
    width: 8px;
    opacity: 0;
  }
}

@keyframes swag4 {
  0% {
    bottom: 50px;
    right: 50px;
    width: 8px;
  }

  50% {
    width: 30px;
    opacity: 1;
  }

  100% {
    bottom: 20px;
    right: 20px;
    width: 8px;
    opacity: 1;
  }
}

@keyframes swag4-out {
  0% {
    bottom: 20px;
    right: 20px;
    width: 8px;
  }

  50% {
    width: 30px;
    opacity: 1;
  }

  100% {
    bottom: 50px;
    right: 50px;
    width: 8px;
    opacity: 0;
  }
}


/* About */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

.container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/*.container:nth-child(1){
  animation-delay: 0s;
}
*/
.container:nth-child(2) {
  animation-delay: 1s;
}

.container:nth-child(3) {
  animation-delay: 2s;
}

.container:nth-child(4) {
  animation-delay: 3s;
}

.container:nth-child(5) {
  animation-delay: 4s;
}

.container:nth-child(6) {
  animation-delay: 5s;
}

.text-box {
  padding: 20px 30px;
  background: #fff;
  position: relative;
  border-radius: 6px;
  font-size: 15px
}

.left-container {
  left: 0;
}

.right-container {
  left: 50%;
}

.container img {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  top: 32px;
  z-index: 10;
}

.right-container img {
  left: -20px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: #fff;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}

@keyframes moveline {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

.text-box h2 {
  font-weight: 600;
}

.text-box small {
  display: inline-block;
  margin-bottom: 15px;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #fff;
  right: -15px;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #fff;
  left: -15px;
}

@media screen and (max-width: 600px) {
  .timeline {
    margin: 50px auto;
  }

  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }

  .text-box {
    font-size: 13px;
  }

  .text-box small {
    margin-bottom: 10px;
  }

  .right-container {
    left: 0;
  }

  .left-container img,
  .right-container img {
    left: 10px;
  }

  .left-container-arrow,
  .right-container-arrow {
    border-right: 15px solid #fff;
    border-left: 0;
    left: -15px;
  }
}

.check {
  font-family: 'Bungee Shade', cursive;
  font-size: 40px;
  font-weight: 700;
  padding: 0px 10px;
  text-align: center;
  margin: 5px;
  position: relative;
}

.check span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #000000;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}

@keyframes flip {

  0%,
  80% {
    transform: rotateY(360deg)
  }
}

#checkone {
  text-align: center;
  font-size: 20px;
  margin: 10px 50px;
  padding: 20px;
}

/* Services */

.skill-set__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.content {
  width: 98%;
  margin: auto;
}

.skill-set__list {
  width: 47%;
}

ol,
ul {
  list-style: none;
}

.skill-set__item {
  /*     margin-top: 6.4rem; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.skill-set__icon {
  width: 10.6382%;
  -ms-flex-item-align: center;
  align-self: center;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  width: 100%;
}

.skill-set__detail {
  width: 85.1063%;
}

.skill-set__meta {
  margin-bottom: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.skill-set__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.small-title {
  font-size: 2.4rem;
  color: #072142;
  letter-spacing: 0.2em;
  line-height: 1.2;
  font-family: "futura_de";
}

.skill-set__year {
  font-size: 1.4rem;
  line-height: 1.2;
  color: #c0c5ca;
  margin-left: 0.8rem;
  letter-spacing: 0.2em;
}

.skill-set__high {
  color: #ff4d5a;
}

.small-title {
  font-size: 2.4rem;
  color: #072142;
  letter-spacing: 0.2em;
  line-height: 1.2;
  font-family: "futura_de";
}

skill-set__ratio {
  font-size: 1.6rem;
  line-height: 1.2;
  color: #072142;
}

.skill-set__bar {
  width: 100%;
  height: 1.4rem;
  background: #fff;
  position: relative;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(7, 33, 66, 0.15);
  box-shadow: 0 5px 15px 0 rgba(7, 33, 66, 0.15);
}

.skill-set__bar:after {
  -webkit-animation: ratio90 1.5s forwards;
  animation: ratio90 1.5s forwards;
}

.skill-set__bar:after {
  background-image: -webkit-gradient(linear, left top, right top, from(#072142), color-stop(42%, #8c2b7a), to(#ff4d5a));
  background-image: -webkit-linear-gradient(left, #072142, #8c2b7a 42%, #ff4d5a);
  background-image: -o-linear-gradient(left, #072142, #8c2b7a 42%, #ff4d5a);
  background-image: linear-gradient(to right, #072142, #8c2b7a 42%, #ff4d5a);
}

.skill-set__bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 10px;
  width: 80%;
}

.services {
  padding: 50px 0;
  min-height: 5vh;
  display: grid;
  place-items: center;

  --bkg: #5eb3fd;
  --white: #e7e6e6;

  background-color: var(--white);
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

/*.sub-title {
  text-align: center;
  margin-bottom: 50px;
}

.sub-title span {
  color: #00eeff;
}*/

.containerset {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.titleonly {
  position: absolute;
  margin-top: 50px;
  margin-left: 400px;
  transform: translate(-50%, -50%);
}

.titleonly h1 {
  font-size: 50px;
  text-align: center;
  font-weight: 900;
  font-family: 'Silkscreen', cursive;
  color: black;
}

.ghost {
  width: 8vmin;
  height: 10vmin;
  background-color: var(--white);
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  background-image: radial-gradient(ellipse at 35% 40%, #000 8%, transparent 0%),
    radial-gradient(ellipse at 65% 40%, #000 8%, transparent 0%),
    radial-gradient(ellipse at 50% 60%, #000 8%, transparent 0%);
  border-radius: 100% / 70% 70% 0% 0%;
  transform: translateX(100em) rotateZ(-90deg);
  position: relative;
  opacity: 0.9;
  mix-blend-mode: exclusion;
  animation: ghostMove 4s ease-out infinite;
}

@keyframes ghostMove {
  0% {
    transform: translateX(30em) rotateZ(-90deg);
  }

  100% {
    transform: translateX(-35em) rotateZ(-90deg);
  }
}

.ghost div {
  position: absolute;
  width: 20%;
  background-color: var(--white);
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}

.ghost div:nth-of-type(1) {
  height: 7vmin;
  left: 0;
  bottom: -6vmin;
  border-radius: 100% / 0% 0% 50% 50%;
}

.ghost div:nth-of-type(2),
.ghost div:nth-of-type(4) {
  height: 4vmin;
  left: 20%;
  bottom: -3vmin;
  border-radius: 100% / 50% 50% 0% 0%;
  background-color: transparent;
}

.ghost div:nth-of-type(3) {
  height: 4vmin;
  left: 40%;
  bottom: -3.95vmin;
  border-radius: 100% / 0% 0% 60% 60%;
  background-color: var(--white);
}

.ghost div:nth-of-type(4) {
  left: 60%;
}

.ghost div:nth-of-type(5) {
  height: 3vmin;
  left: 80%;
  bottom: -2.9vmin;
  border-radius: 100% / 0% 0% 70% 70%;
  background-color: var(--white);
}

.services-list {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.services-list div {
  flex-basis: 500px;
  padding: 30px;
  margin: 0 20px;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.services-list div:hover {
  transform: translateY(-10px);
}

.services-list i {
  font-size: 60px;
  margin-bottom: 20px;
}

.services-list h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.services-list p {
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Skills */

svg {
  font-family: 'Russo One', sans-serif;
  position: relative;
  width: 40%;
  height: 40%;
}

.length {
  text-align: center;
}

svg text {
  text-transform: uppercase;
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: #365fa0;
  font-size: 100px;
}

@keyframes stroke {
  0% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgba(54, 95, 160, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }

  70% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgba(54, 95, 160, 1);
  }

  80% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgba(54, 95, 160, 1);
    stroke-width: 3;
  }

  100% {
    fill: rgba(72, 138, 204, 1);
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

.skills-section {
  padding-top: 20px;
}

.skills-header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 4px;
  background-color: #2ecc71;
  border-radius: 2px;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 80px;
  font-size: 1.2rem;
}

.skills-box {
  padding: 1rem;
  color: #000;
  cursor: pointer;
}

.skills-box:hover>.skills-title::after,
.skills-box:hover>.skills-title::before {
  width: 30px;
}

.skills-box:hover .skills-img {
  transform: translateX(-20px);
}

.skills-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}

/* .skills-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 20px;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: #2ecc71;
  transition: 0.5s;
}

.skills-title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100px;
  height: 4px;
  border-radius: 0 2px 2px 0;
  background-color: #2ecc71;
} */

.skills-icons {
  width: 50px;
  z-index: 2;
}

.skills-img {
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 45px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.skills-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 90px;
  background: rgb(255, 255, 255);
  border-radius: 45px 0 0 45px;
}

.skills-title h3 {
  color: #333;
  margin-top: 0.5rem;
}

@media screen and (max-width: 990px) {
  .skills-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 50px;
  }
}

@media screen and (max-width: 650px) {
  .skills-container {
    grid-template-columns: 1fr;
    padding: 2rem 50px;
  }
}


/* Portfolio */

.nothing {
  display: relative;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: #ff0909;
  font-size: 40px;
  font-family: 'Fira Mono', monospace;
  font-weight: bold;
  letter-spacing: -2px;
}

.glitches {
  animation: glitch 1s linear infinite;
}

@keyframes glitch {

  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }

  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }

  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

.glitches:before,
.glitches:after {
  content: attr(title);
  position: absolute;
  left: 0;
}

.glitches:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {

  2%,
  64% {
    transform: translate(2px, -2px);
  }

  4%,
  60% {
    transform: translate(-2px, 2px);
  }

  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

.glitches:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {

  2%,
  64% {
    transform: translate(-2px, 0);
  }

  4%,
  60% {
    transform: translate(-2px, 0);
  }

  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}


.portfolio {
  padding: 100px 0;
  text-align: center;
}

.portfolio h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}


.portfolio-item {
  flex-basis: 300px;
  margin: 0 20px;
  text-align: center;
}

.portfolio-item:hover {
  transform: translateY(-20px);
}

.portfolio-item img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.portfolio-item h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.portfolio-item p {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Contact */


.contact {
  padding: 100px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(315deg, #000000 0%, #3d4142 74%);
}

.glitter {
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  font-family: Hack, sans-serif;
  text-transform: uppercase;
  padding: 50px;
  background: linear-gradient(90deg, #000, #fff, #000);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 10s linear infinite;
  position: relative;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }

  100% {
    background-position-x: 500%;
  }
}

.contact-container {
  max-width: 800px;
  margin: 0 auto;
}

.contact h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 18px;
  color: #fff;
}

.contact-info i {
  font-size: 24px;
  margin-right: 10px;
  color: #fff;
}


.contact-form {
  text-align: center;

}

.contact-form h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #fff;
}

.contact-form button {
  display: inline-block;
  background-color: #00eeff;
  color: #000;
  text-decoration: none;
  padding: 10px 30px;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #00b8e6;
}

/* Set root variables */
:root {
  --bg: #333;
  --font-size: 20px;
  --font-family: 'Chivo';
}

/* Apply styles to the body */
.coverup {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg);
  font-size: var(--font-size);
  font-family: var(--font-family);
}

/* Apply styles to the container */
#containerfive {
  position: relative;

}

/* Apply styles to input[type='text'] */
input[type='text'] {
  padding: 1em;
  border-radius: 0.2em;
  background: rgb(192, 192, 192);
  transition: background 0.3s;
}

input[type='text']:focus {
  background: white;
}

input[type='text']::placeholder {
  color: white;
}

/* Apply styles to the ghost on input focus */
input[type='text']:focus+.ghosts {
  background: rgba(255, 255, 255, 0.2);
  color: transparent;
}

input[type='text']:focus+.ghosts .ghost__torsos {
  transform: translate(-50%, 42px) scaleY(0.9);
}

input[type='text']:focus+.ghosts .ghost__eyess *,
input[type='text']:focus+.ghosts .ghost__mouths {
  background: rgba(161, 139, 139, 0.6);
}

input[type='text']:focus+.ghosts .ghost__faces {
  transform: translate(-50%, 0.4em);
}

input[type='text']:focus+.ghosts .ghost__mouths {
  transform: scaleY(0.6);
  border-color: rgba(255, 255, 255, 0.6);
}

input[type='text']:focus+.ghosts .ghost__handss *,
input[type='text']:focus+.ghosts .ghost__legss {
  background: transparent;
}

input[type='text']:focus+.ghosts .ghost__legss {
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 0.6em;
  transform: translateX(-50%) scaleY(0.85);
  transform-origin: top;
}

/* Apply styles to the chat bubble */
.chat-bubbles {
  text-align: center;
  width: 100%;
  max-width: 80vw;
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translateX(-50%);
  margin-bottom: 7em;
  color: white;
}

/* Apply styles to the ghost animation */
@keyframes float {
  from {
    transform: translateY(0.5em);
  }

  to {
    transform: translateY(-0.5em);
  }
}

#containerfive {
  animation: float 3s infinite alternate;
}

/* Apply styles to the ghost */
.ghosts {
  background: white;
  color: white;
}

.ghosts>* {
  position: absolute;
  left: 90%;
  bottom: 100%;
  transform: translateX(-50%);
}

.ghost__faces {
  margin-bottom: 1em;
  background: none;
}

.ghost__eyes-ls,
.ghost__eyes-rs {
  width: 0.8em;
  height: 0.8em;
  background: var(--bg);
  border-radius: 100%;
  position: absolute;
  bottom: 0.4em;
}

.ghost__eyes-ls {
  right: 1em;
}

.ghost__eyes-rs {
  left: 1em;
}

.ghost__mouths {
  width: 0.5em;
  height: 0.3em;
  border-radius: 50px;
  border: 0.2em solid var(--bg);
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.ghost__mouth--opens {
  border-top: 0.2em solid var(--bg);
  height: 0.2em;
}

.ghost__torsos {
  width: 5em;
  height: 7em;
  background: inherit;
  border-radius: 100px;
  box-shadow: 0 0 12px rgba(66, 66, 66, 1);
  transform: translate(-50%, 50px);
  z-index: -1;
  transition: all 0.3s background 0.4s 0.1s;
}

.ghost__hands-rs,
.ghost__hands-ls {
  border-radius: 100px;
  width: 1em;
  height: 1.5em;
  background: white;
  box-shadow: 0 4px 4px rgba(var(--bg), 0.3);
}

.ghost__hands-rs {
  transform: translate(1.5em, 1em) rotate(15deg);
}

.ghost__hands-ls {
  transform: translate(-1.5em, 2.5em) rotate(-15deg);
}

.ghost__legss {
  width: 5em;
  height: 2em;
  top: 90%;
  background: inherit;
  box-shadow: 0 0 12px rgba(66, 66, 66, 1);
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
}


.buttonsonly {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.buttonsonly button {
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  background-color: #1ECD97;
  display: block;
  position: relative;
  padding: 20px 40px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);

  -webkit-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
}

.buttonsonly button:active {
  top: 10px;
  background-color: #1ECD97;

  -webkit-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
  box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}

.buttonsonly:after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: -15px;
  left: -4px;
  z-index: -1;
  background-color: #2B1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


#btn {
  background: #222;
  border: none;
  height: 100px;
  min-width: 200px;
  border-radius: 10px;
  color: #eee;
  font-size: 40px;
  font-family: 'Cookie', cursive;
  position: relative;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  bottom: 30px;
  left: 45%;
}

#btn #circle {
  width: 5px;
  height: 5px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  transition: 500ms;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#btn:hover {
  background: transparent;
  color: black;
}

#btn:hover #circle {
  height: 100px;
  width: 200px;
  left: 0;
  border-radius: 10px;
  border: 2px solid #000000;
}

/* Footer */
.simple {
  height: 100px;
}

.new_footer_area {
  background: #fbfbfd;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.new_footer_top {
  padding: 120px 0px 270px;
  position: relative;
  overflow-x: hidden;
}

.new_footer_area .footer_bottom {
  padding-top: 100px;
}

.footer_bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #7f88a6;
}

.f_widget.about-widget .f_list li:last-child {
  margin-bottom: 0px;
}

.f_widget.about-widget .f_list li {
  margin-bottom: 15px;
}

.f_widget.about-widget .f_list {
  margin-bottom: 0px;
}

.f_600 {
  font-weight: 600;
}

.f_size_18 {
  font-size: 18px;
}

#containerfive input {
  background: gray;
}

::placeholder {
  color: white;
}

#containerfive textarea {
  background: gray;
}

.new_footer_top .footer_bg {
  position: absolute;
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
  width: 100%;
  height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
  width: 330px;
  height: 105px;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
  width: 88px;
  height: 100px;
  background-size: 100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}

.social-network a.icoFacebook:hover {
  background-color: #000000;
}

.social-network a.icoMedium:hover {
  background-color: #000000;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoInstagram:hover {
  background-color: #eb2bde;
}

.social-network a.icoTwitter:hover {
  background-color: #000000;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoInstagram:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoMedium:hover i {
  color: #ffffff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}


@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

.footer-nav a {
  color: #9c41a6;
}

.footer-nav a:hover {
  color: #ff1cf4;
}

/*
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo .logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.footer-nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.social-links {
  display: flex;
}

.social-btn {
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  margin-right: 10px;
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
  border-radius: 10px;
  background: #333;
  margin: 10px;
  transition: 1s;
}

.social-btn span {
  width: fit-content;
  overflow: hidden;
  transition: 1s;
  text-align: justify;
}

.social-btn:hover {
  width: 200px;
  border-radius: 5px;
}

.social-btn:hover span {
  padding: 0.5em 0.5em 0;
  width: fit-content;
}

#twitter svg {
  fill: #1da1f2;
}

#linkedin svg {
  fill: #0e76a8;
}

#github {
  fill: #fff;
}

.footer-nav a:hover {
  color: #00eeff;
}

.footer-text {
  margin: 20px 20px 20px 20px;
  font-size: 14px;
}
*/
/* Media Queries */

@media screen and (max-width: 768px) {
  .home h1 {
    font-size: 40px;
  }

  .about {
    flex-direction: column;
  }

  .about-img {
    margin-bottom: 50px;
  }

  .about-text {
    padding: 0;
  }

  .services-list {
    flex-wrap: wrap;
  }

  .services-list div {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .skills-container {
    flex-wrap: wrap;
  }

  .skill {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .portfolio-container {
    flex-wrap: wrap;
  }

  .portfolio-item {
    flex-basis: 100%;
    margin-bottom: 200px;
  }
}

.fa-heart {
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* Animation Styles */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1s ease-in-out;
}

@keyframes slideUp {
  from {
    transform: translateY(100px);
  }

  to {
    transform: translateY(0);
  }
}

.slideUp {
  animation: slideUp 1s ease-in-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0);
  }
}

.slideDown {
  animation: slideDown 1s ease-in-out;
}

@keyframes slideRight {
  from {
    transform: translateX(-100px);
  }

  to {
    transform: translateX(0);
  }
}

.slideRight {
  animation: slideRight 1s ease-in-out;
}

@keyframes slideLeft {
  from {
    transform: translateX(100px);
  }

  to {
    transform: translateX(0);
  }
}

.slideLeft {
  animation: slideLeft 1s ease-in-out;
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInBottom {
  animation: fadeInBottom 1s ease-in-out;
}

@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInTop {
  animation: fadeInTop 1s ease-in-out;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInLeft {
  animation: fadeInLeft 1s ease-in-out;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInRight {
  animation: fadeInRight 1s ease-in-out;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.scaleIn {
  animation: scaleIn 1s ease-in-out;
}

@keyframes rotateIn {
  from {
    opacity: 0;
    transform: rotateZ(-180deg);
  }

  to {
    opacity: 1;
    transform: rotateZ(0);
  }
}

.rotateIn {
  animation: rotateIn 1s ease-in-out;
}